body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.logo {
    margin-right: auto;
    margin-left: 154px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

header {
    width: 100%;
    height: 72px;
    background-color: #3e3c3c;
    color: white;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

#Mail-nav {
    margin-right: 142px;
    width: 24px;
    height: 24px;
}
